/*banner开始*/
.banner{
	width: 100%;
	height:665px;
	position: relative;
	overflow: hidden;
}
.banner .imgs{
	position: absolute;
	width: 1920px;
	height:665px;
	left:50%;
	margin-left: -960px;
	top:0px;
}
.banner .imgs ul li{
	position: absolute;
	left:0;
	top:0;
	width: 1920px;
	height:665px;
	display: none;
}
.banner .imgs ul li.cur{
	display: block;
}
.banner .circles{
	position: absolute;
	width: 15px;
	height:255px;
	left:0px;
	top:219px;
	background: url(../images/indexbg.png) center top repeat-y; 
}
.banner .circles ol li{
	width: 15px;
	height: 15px;
	background: url(../images/circle.png) no-repeat;
	margin-bottom: 70px;
	position: relative;
}
.banner .circles ol li a{
	width: 103px;
	height: 42px;
	background: url(../images/icon.png) no-repeat;
	position: absolute;
	right:-13px;
	top:-12px;
	display: none;
}
.banner .circles ol li:nth-child(2) a{
	background-position: 0 -44px;
}
.banner .circles ol li:nth-child(3) a{
	background-position: 0 -87px;
}
.banner .circles ol li:nth-child(4) a{
	background-position: 0 -130px;
}
.banner .circles ol li.cur a{
	display: block;
}
.banner .video{
	position: absolute;
	width: 151px;
	height: 89px;
	top:500px;
	right:28px;
}
/*content开始*/
.content .cont_box .news{
	position: absolute;
	height:36px;
	padding:18px 20px 0 19px;
	left:0px;
	top:-54px;
	background-color: #fff;
}
.content .cont_box .news h3{
	float: left;
	font-size: 15px;
	line-height: 23px;
	color:#453E38;
}
.content .cont_box .news ul{
	float: left;
	width: 572px;
	margin:0 20px 0 30px;
	height:17px;
	font-size: 12px;
	overflow: hidden;
	line-height: 17px;
}
.content .cont_box .news ul li{
	height:17px;
}
.content .cont_box .news ul li a{
	color:#737E7A;
}
.content .cont_box .news ul li span{
	color:#D3C7B9;
	margin-left: 15px;
}
.content .cont_box .btns{
	float: left;
	width: 46px;
	height: 17px;
}
.content .cont_box .btns a{
	float: left;
	width: 23px;
	height:17px;
	background: url(../images/btn_bg.png) no-repeat -1px 0px;
}
.content .cont_box .btns a.rightBtn{
	background-position: -23px 0px;
}
.content .cont_box .btns a:hover{
	background-position: -2px -17px;
}
.content .cont_box .btns a.rightBtn:hover{
	background-position: -23px -17px;
}
.content .cont_box .more{
	float: left;
	margin-left: 166px;
	width: 67px;
	height: 27px;
	background-color: #DBDBDB;
	font-size: 12px;
	color:#fff;
	line-height: 27px;
	text-align: center;
}
.content .cont_box .more:hover{
	color:#333;
}
.content .cont_box .cont_list{
	padding:20px 20px 0px 20px;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #DDDDDD;
	height:346px;
	background-color: #F3F3F3;
}
.content .cont_box .cont_list ul li{
	float: left;
	width: 304px;
	margin-right: 24px;
}
.content .cont_box .cont_list ul li .title{
	height:33px;
}
.content .cont_box .cont_list ul li .title h3{
	float: left;
	font-size: 16px;
	line-height: 16px;
}
.content .cont_box .cont_list ul li .title h3 a{
	color:#3D443C;
}
.content .cont_box .cont_list ul li .title h3 a:hover{
	text-decoration: underline;
}
.content .cont_box .cont_list ul li .title a.much{
	float: right;
	font-size: 12px;
	text-decoration: underline;
}
.content .cont_box .cont_list ul li .title a.much:hover{
	color:#3D443C;
}
.content .cont_box .cont_list ul  li .pic{
	width: 282px;
	height: 185px;
	background: url(../images/bubble.png) no-repeat;
	padding:8px 10px 0px 7px;
}
.content .cont_box .cont_list ul li p{
	font-size: 12px;
	line-height: 23px;
	color:#898989;
	margin-top: 10px;
}
.content .cont_box .hot{
	padding:18px 20px 0 20px;
	height:170px;
	background-color: #F3F3F3;
	position: relative;
}
.content .cont_box .hot .hot_tit{
	height:25px;
}
.content .cont_box .hot .hot_tit h3{
	float: left;
	width: 68px;
	padding-top: 3px;
}
.content .cont_box .hot .hot_tit h3 a{
	color:#4E3457;
	font-size: 16px;
}
.content .cont_box .hot .hot_tit h3 a:hover{
	text-decoration: underline;
}
.content .cont_box .hot .hot_tit .hot_btn{
	float: right;
	width: 56px;
	height: 25px;
}
.content .cont_box .hot .hot_tit .hot_btn a{
	float: left;
	width: 27px;
	height:25px;
	background: url(../images/btn_bg.png) no-repeat -1px -39px;
}
.content .cont_box .hot .hot_tit .hot_btn a.rightBtn{
	width: 29px;
	background-position: -28px -39px;
}
.content .cont_box .hot .hot_tit .hot_btn a:hover{
	background-position: -1px -65px;
}
.content .cont_box .hot .hot_tit .hot_btn a.rightBtn:hover{
	background-position: -28px -65px;
}
.content .cont_box .hot .shadow{
	width: 1000px;
	height: 12px;
	background: url(../images/con_b_bg.png) no-repeat left top;
	position: absolute;
	left:0px;
	bottom:0px;
}


